<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2024 - Kevin casasbuenas (https://kincasasbuenas.dev/)
 * @author      Kevin Casasbuenas <kincasasbuenas@outlook.com>
 * @category    Kinuz
 * @module      Kinuz/Kinuz/ProductBadgePercentage
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="product_badge_percentage" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
      <class>separator-top</class>
      <label>Product Badge Percentage</label>
      <tab>kinuz</tab>
      <resource>Kinuz_ProductBadgePercentage::system_config</resource>
      <group id="general" type="text" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Configuration General</label>
        <field id="enable" translate="" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Enable</label>
            <comment>Enable or disabled Badge Percentage in product price section</comment>
            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
      </group>
    </section>
  </system>
</config>